name: Build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v34
      - uses: nix-community/cache-nix-action@v6.1.3
      - run: |
          nix build .#yoku-cli
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: binary
          path: ./result/bin/yoku-cli
